{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <h1>Edit Vehicule</h1>

    {{ include('vehicules/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehicules_index') }}">back to list</a>

    {{ include('vehicules/_delete_form.html.twig') }}
{% endblock %}
