{% extends 'base-front.html.twig' %}
{% block Content %}
<div class="sub-head blackish ext-low-opacity">
    <div class="bg-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cola-head">
                    <div class="head-meta">
                        <h4>Ajouter Votre Véhicule</h4>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div><!-- subhead -->

<section>
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">





                                    <form method="post">
                                        <div class="row">
                                    {{ include('vehicules/_form.html.twig') }}

                                        </div>


                                    </form>






                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}