{% extends 'base-front.html.twig' %}
{% block Content %}
    <section>
        <div class="space-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-left less-margin">
                            <h5>Les Véhicules</h5>
                        </div>
                        <div class="request-list">
                            <div class="colla-table">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Marque</th>
                                        <th>Modéle</th>
                                        <th>Couleur</th>
                                        <th>Age</th>
                                        <th>Puissance</th>
                                        <th>Cylindre</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>6 Oct, 2017</td>
                                        <td>All day</td>
                                        <td>
                                            <a href="#" title="">Cambridge</a><a href="#" title="">Colchester</a>
                                            <figure>
                                                <img src="images/resources/rider-loacation.jpg" alt="">
                                                <h6>Centenary Square in Bradford, UK</h6>
                                            </figure>
                                        </td>
                                        <td>Gareth D.</td>
                                        <td>Gareth D.</td>
                                        <td>Gareth D.</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}