<form method="post" action="{{ path('circuit_delete', {'idcircuit': circuit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ circuit.id) }}">
    <button class="btn">Delete</button>
</form>
