{% extends 'base.html.twig' %}

{% block title %}New Circuit{% endblock %}

{% block body %}
    <h1>Create new Circuit</h1>

    {{ include('circuit/_form.html.twig') }}

    <a href="{{ path('circuit_index') }}">back to list</a>
{% endblock %}
